*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


a{
    text-decoration: none;
    display: block;
}


.container:hover{

    box-shadow: 10px 10px 18px 0px rgba(50, 50, 50, 0.6);
    transition: 1s;

}

section{
    margin-top: 50px;
}


section .name-linguage{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
section .name-linguage img{
    margin-right: 10px;
}

section .name-linguage h2{
    display: inline-block;
    color: white;
}


section .container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


section .container ul li{
    margin: 10px;
}


section .container ul li a{
    display: inline-block;
    border: 1px solid black;
    min-width: 300px;
    text-align: center;
    color: black;
    box-shadow: 5px 5px 18px 0px rgba(50, 50, 50, 0.6);
    border-radius: 10px;
    padding: 20px 0;
    font-size: 14px;
}

section .container ul li a:hover{
    background-color: black;
    color: white;
    transition: 2s;
    border-radius: 40px;
}

section .container ul .inativo{
    background-color: rgba(74, 173, 212, 0.172);
}

section .container ul .basico{
    background-color: rgb(74, 173, 212);
}

section .container ul .intermediario{
    background-color: rgb(255, 251, 0);

}

section .container ul .avancado{
    background-color: rgb(255, 72, 0);
}

section .container ul .especialista{
    background-color: rgb(168, 5, 5);
    color: white;
}

section .container ul .hacks{
    background-color: rgb(48, 148, 48);
    color: white;
}







