*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


a{
    text-decoration: none;
    display: block;
}

body{
    padding: 0 30px;
    background-color:darkslategrey
}



.voltar a{
    display: inline-block;
    background-color: white;
    margin: 20px 0;
    padding: 10px 40px;
    text-align: center;
    border-radius: 12px;
    color: black;
    text-decoration: none;
}

.voltar a:hover{
    box-shadow: 5px 5px 18px 0px rgba(50, 50, 50, 0.6);
    transition: 1s;
    background-color: black;
    color: white;
    border-radius: 25px;
}


.container{
    max-width: 1920px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: var(--color-descricao);
    border: 1px solid white;
    box-shadow: 5px 5px 18px 0px rgba(50, 50, 50, 0.6);
    margin-bottom: 20px;
    border-radius: 20px;
}




section .name-linguage{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
section .name-linguage img{
    margin-right: 10px;
}

section .name-linguage h2{
    display: inline-block;
    color: white;
}


section .container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


section .container ul li{
    margin: 10px;
}


section .container ul li a{
    display: inline-block;
    border: 1px solid black;
    min-width: 250px;
    text-align: center;
    color: black;
    box-shadow: 5px 5px 18px 0px rgba(50, 50, 50, 0.6);
    border-radius: 10px;
    padding: 20px 0;
}

section .container ul li a:hover{
    background-color: black;
    color: white;
    transition: 2s;
    border-radius: 40px;
}

section .container ul .basico{
    background-color: rgb(74, 173, 212);
}

section .container ul .intermediario{
    background-color: rgb(255, 251, 0);

}

section .container ul .avancado{
    background-color: rgb(255, 72, 0);
}

section .container ul .especialista{
    background-color: rgb(168, 5, 5);
    color: white;
}

section .container ul .hacks{
    background-color: rgb(48, 148, 48);
    color: white;
}







