*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:darkslategrey
}



section{
    display: flex;
    align-items: center;
    flex-direction: column;
}


section .title{
display: flex;
align-items: center;
flex-direction: column;
margin-top: 50px;
}

.title .basico{
    background-color: rgb(74, 173, 212);
}

.title .intermediario{
    background-color: rgb(255, 251, 0);
}

.title .avancado{
    background-color: rgb(255, 72, 0);
}

.title .especialista{
    background-color: rgb(168, 5, 5);
    color: white;
}

.title .hacks{
    background-color: rgb(48, 148, 48);
    color: white;
}

section h1{
    display: inline-block;
    margin: auto;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: white;

}


.container{

        display: flex;
        flex-direction: row;
        
}



section .container:hover{
    box-shadow: 10px 10px 18px 0px rgba(50, 50, 50, 0.6);
    transition: 1s;

}

section .container div .conteudo,
section .container div .codepen{
    flex: 1;
    min-width: 400px;
}



section .container .conteudo{
    padding: 10px;
    text-align: justify;
    color: white;
}

section .container .conteudo strong{
    color: aqua;
    
}

section .container .conteudo span{
    color:rgb(71, 252, 0);
    font-weight: bold;
    
}

section .container .conteudo .descricao{
    margin-bottom: 10px;
    text-align: justify;
    display: block;
}

