*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

html{
    height: auto;
    width: auto;
}
.header{
    width: 100vw;
}
.container{
    max-width: 1420px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: 7px 7px 18px 0px rgba(50, 50, 50, 0.6);
    margin: 20px;
    border-radius: 20px;
}




.voltar a{
    display: inline-block;
    padding: 10px 40px;
    text-align: center;
    border-radius: 12px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

.voltar a:hover{
    box-shadow: 5px 5px 18px 0px rgba(50, 50, 50, 0.6);
    transition: 1s;
    background-color: black;
    color: white;
    border-radius: 25px;
}


.cabecalho{
    background-color: black;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}


#btn-mobile{
    display: none;

}
#btn-mobile div{
    display: none;

}



.cabecalho ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
}

.cabecalho ul li{
    list-style: none;
    margin-right: 20px;
    height: 100%;
}

.cabecalho ul li a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;
}
.cabecalho ul li a:hover{
    background-color: white;
    color: black;
    border-bottom: 3px solid red;
    transition: 1.5s;
}

.cabecalho ul li .active{
    color: white;
    border-bottom: 3px solid red;
}







.cabecalho ul li a div{
    display: flex;
    align-items: center;
    height: 57px;
}

.cabecalho ul li a div img{
    margin-right: 5px;
}

.voltar a{
    display: none;
    background-color: white;
}


@media (max-width: 1300px ) {
    #btn-mobile{
        display: block;
        width: 40px;
        height: 27px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    #btn-mobile .traco{
        display: block;
        width: 40px;
        height: 3px;
        background-color: black;
    }

    #menu{
        display: none;
        
    }

    .cabecalho{
        background-color: black;
        width: 100%;
        height: auto;
    }

    #nav.active #menu{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    #nav.active #btn-mobile .traco{
        background-color: white;
    }

    .voltar a{
        display: block;
        
    }
    #nav.active .voltar a{
        display: none;
        background-color: red;
    }

    .cabecalho ul li{
        flex: 1;
        min-width: 200px;
        padding: 10px;
    }

}

@media (max-width: 430px ) {
    .cabecalho ul li{
        max-width: 300px;
    }

}